[project]
	description = This is a currency sorting plugin for dataTables
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JP Grace (jpgrace)
[access "refs/for/refs/*"]
	read = group user/JP Grace (jpgrace)
	push = group user/JP Grace (jpgrace)
	label-Code-Review = -2..+2 group user/JP Grace (jpgrace)
	label-Verified = -1..+1 group user/JP Grace (jpgrace)
	rebase = group user/JP Grace (jpgrace)
	removeReviewer = group user/JP Grace (jpgrace)
	submit = group user/JP Grace (jpgrace)
[access "refs/heads/*"]
	read = group user/JP Grace (jpgrace)
	create = group user/JP Grace (jpgrace)
	push = +force group user/JP Grace (jpgrace)
	pushMerge = group user/JP Grace (jpgrace)
[access "refs/tags/*"]
	push = +force group user/JP Grace (jpgrace)
	pushTag = group user/JP Grace (jpgrace)
	pushSignedTag = group user/JP Grace (jpgrace)
